<a href="https://colab.research.google.com/github/2110030122SRIMAN/phython/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a={1,2,3,4,5}
b={4,5,6,7}
print('union=',a|b)
print('intersection=',a&b)
print('differ=',a-b)
print('symmetric diff=',a^b)

union= {1, 2, 3, 4, 5, 6, 7}
intersection= {4, 5}
differ= {1, 2, 3}
symmetric diff= {1, 2, 3, 6, 7}

In [5]:
studentList ={'danish', 'amrutha','jaison,''lohita' ,
                               'uma', 'prasad','ashwathi'}

placedStudList = ["uma", "danish", "amrutha"] 
notPlacedStudList = set (studentList) - set (placedStudList)
print("student to get yet job",notPlacedStudList)

student to get yet job {'prasad', 'jaison,lohita', 'ashwathi'}

In [7]:
batsmen=["virat", "rohit", "dhawan", "dhoni", "pandya", "jadeja"]




bowlers =["bhuvenashwar", "shami", "pandya", "jadeja","kuldeep"]

allrounders =set (batsmen)& set (bowlers)






print(bowlers)

print(batsmen)
print("All rounders:" , allrounders)

['bhuvenashwar', 'shami', 'pandya', 'jadeja', 'kuldeep']
['virat', 'rohit', 'dhawan', 'dhoni', 'pandya', 'jadeja']
All rounders: {'pandya', 'jadeja'}

In [8]:
tcs= ["uma", "danish", "amrutha"]

infosys= ["lohita", "danish", "ashwathi"] 
wipro= ["sangeetha", "jaison", "prasad", "amrutha"]

placed =set (tcs) |set (infosys) | set (wipro)



print (placed); print ("Numberof people placed",len (placed))
print ("Numberof people placed",len (placed))

{'jaison', 'prasad', 'danish', 'sangeetha', 'uma', 'lohita', 'amrutha', 'ashwathi'}
Numberof people placed 8
Numberof people placed 8

In [9]:
numbers = {1,2,3,4,5,6,7,8,9,10}
odd={1,3,5,7,9}  
even = {2,4,6,8,10}


print(odd.isdisjoint (even))
print (numbers.issuperset (odd)) 
print(odd.issuperset (numbers))
print(odd.issubset(numbers))

True
True
False
True

In [11]:
data = "cranes varsity bangalore"

unique = set (data)

print("Number of unique characters =",len (unique))

print ("Let of unique characters = ",unique)

data= list(data)

for ele in unique:data.remove(ele)



print("Repeated Characters" ,set (data))

Number of unique characters = 15
Let of unique characters =  {' ', 'e', 'a', 'l', 'i', 's', 'n', 'b', 'g', 'r', 'y', 'c', 'o', 'v', 't'}
Repeated Characters {' ', 'e', 'a', 's', 'n', 'r'}